@media (max-width: 1920px) and (min-width: 1280px) {
    .lead__container {
        width: 100%;
    }
    .lead__image {
        width: 100%;

    }

    .lead__title {
        max-width: 720px;
        max-height: 200px;
        margin: 0 auto;
    }
}

@media (max-width: 1279px) and (min-width: 1024px) {
    .lead__container {
        width: 100%;
    }

    .lead__image {
        width: 100%;
    }

    .lead__title {
        max-width: 720px;
        max-height: 200px;
        margin: 0 auto;
    }
}

@media (max-width: 1023px) and (min-width: 768px)  {
    .lead {
        max-width: 100%;
    }

    .lead__container {
        width: 100%;
    }

    .lead__title {
        max-width: 94%;
        max-height: 200px;
        margin: 0 3%;
    }
}

@media (max-width: 767px) {

    .lead__container {
        width: 100%;
    }

    .lead__title {
        font-size: clamp(40px, 6.5vw + 16px, 96px);
        line-height: clamp(44px, 6.5vw + 20px, 100px);
        max-width: 90%;
        margin: 0 5%;
    }

    .lead__subtitle {
        max-width: 90%;
        margin: 0 5%;
        font-size: clamp(16px, 4vw + 1px, 30px);
        line-height: clamp(20px, 4vw + 2px, 36px);
        
    }
}