.lead__figure {
    margin: 2rem auto;
    max-width: 100%;
}

.lead__image img {
    width: 100%;
}

.lead__title {
    margin: 0 280px;
    transition: margin 0.5s ease-in-out; /* Плавный переход */
}

@media (min-width: 1280px) {
    .lead__figure {
        width: 100%;
    }

    .lead__container {
        margin-left: 148px;
        margin-right: 148px;
    }

    .lead__title {
        max-width: 720px;
        max-height: 200px;
        margin: 0 280px;
    }
}

@media (max-width: 1279px) and (min-width: 1024px) {
    .lead__figure {
        width: 100%;
    }
    
    .lead__container {
        margin-left: 48px;
        margin-right: 48px;
    }

    .lead__title {
        max-width: 720px;
        max-height: 200px;
        margin: 0 152px;
    }
}

@media (max-width: 1023px) and (min-width: 768px)  {
    .lead__figure {
        width: 100%;
    }

    .lead__container {
        margin-left: 0;
        margin-right: 0;
    }

    .lead__title {
        max-width: 720px;
        max-height: 200px;
        margin: 0 24px;
    }
}

@media (max-width: 767px) {
    .lead__figure {
        width: 100%;
    }

    .lead__container {
        margin-left: 0;
        margin-right: 0;
    }

    .lead__title {
        max-width: 288px;
        max-height: 88px;
        margin: 0 16px;
    }
}
