@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



body,p, h1, h2,.page, nav, div, .lead_container, a{
    margin: 0;
    /*border: 1px solid red;*/
    background-color: #333; /* Темный фон */
    color: #ffffff; /* Белый цвет текста */
    font-family: 'Inter';
}
