.lead__subtitle {
    max-width: 640px;
    max-height: 72px;
    /*position: absolute;*/
    font-size:  1.875em;
    line-height: 2.25rem;
    margin: auto;
    text-align: center;
    padding-top: 32px;
}